@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
html,
body {
  overflow: hidden !important;
  background: #000;
  color: white;
  width: 100%;
}

.btn {
  border: 1px solid #808080;
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
  text-align: left;
  border-radius: 3px;
  margin-top: 10px;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}

.btn span {
  border: 1px solid #808080;
  display: inline-block;
  padding: 1px 6px;
  font-size: 12px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  margin-top: -5px;
}

input[type="radio"].toggle {
  display: none;
}

input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 80px;
}

input[type="radio"].toggle + label:hover {
  background: none;
  color: #fff;
}

input[type="radio"].toggle + label:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: left 100ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 100ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}
input[type="radio"].toggle.toggle-right + label {
  margin-left: 10px;
}
input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}
input[type="radio"].toggle:checked + label {
  background: #fff;
  cursor: default;
  color: #000;
}
input[type="radio"].toggle:checked + label:after {
  left: 0;
}
.upform-header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
.upform input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: white !important;
}
.upform input,
select,
textarea {
  background-color: #000 !important;
  color: #fff;
}
.upform {
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 75%;
  position: absolute;
  left: 15vw;
  top: 10vh;
}
.upform .upform-main .input-block {
  padding: 30px 0;
  opacity: 0.5;
  cursor: default;
  margin-bottom: 100vh;
}
.upform .upform-main .input-block .label {
  display: block;
  font-size: 2em;
  line-height: 30px;
}
.upform .upform-main .input-block .multichoice-radio {
  margin-top: 10px;
}
.upform .upform-main .input-block .input-control {
  margin: 20px 0;
}
.upform .upform-main .input-block .input-control input[type="text"],
input[type="number"],
textarea {
  border: none;
  outline-width: 0;
  border-bottom: 2px solid #ccc;
  width: 100%;
  font-size: 35px;
  padding-bottom: 10px;
}
.upform .upform-main .input-block.active {
  opacity: 1;
}
.upform .upform-footer {
  margin-top: 60px;
  background: red;
}
.upform .upform-footer .btn {
  font-size: 24px;
  font-weight: bold;
  padding: 5px 20px;
}
.bottom-btn {
  display: flex;
  display: none;
}
.btn-enter {
  padding: 15px 20px;
  padding-bottom: 0;
}
.loader {
  display: none;
  position: fixed;
  top: 35%;
  left: 40%;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 1px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.done-btn {
  display: none;
  position:fixed;
  
  top: 71vh;
  left: 25vw;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-submit {
  display: flex;
  margin-bottom: 10vh;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999999;
  color: #000;
  padding-top: 100px;
  left: 0;
  top: -10vh;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Josefin Sans", sans-serif;
  animation: slide_from_right 0.4s ease;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
  transition: all 1s ease;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.coverdiv {
  position: fixed;
  top: 80vh;
  left: 0;
  height: 10vh;
  width: 100%;
  z-index: 9;
}
.prev-next {
  position: fixed;
  color: white;
  top: 80vh;
  z-index: 999;
  left: 15vw;
  cursor: pointer;
}
.add_button,
.remove_button {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 0%;
  margin-top: 10px;
}
.container {
  width: 20vw;
}
.container .bar {
  width: 0vw;
  height: 2px;
  border: 1px solid red;
  transition: all 0.8s ease;
  background: red;
  border-radius: 2px;
  margin: 2px 0;
}
.myinput[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #808080;
  content: "";
  background: #fff;
}
.myinput[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3 #dcddde #dcddde #b3b3b3;
  content: "";
  background-image: linear-gradient(135deg, #b1b6be 0%, #fff 100%);
  background-repeat: no-repeat;
  background-position: center;
}
.myinput[type="checkbox"]:checked:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC"),
    linear-gradient(135deg, #b1b6be 0%, #fff 100%);
}
.myinput[type="checkbox"]:not(:disabled):checked:hover:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC"),
    linear-gradient(135deg, #8bb0c2 0%, #fff 100%);
}
.myinput[type="checkbox"]:not(:disabled):hover:before {
  border-color: #3d7591;
}
.myinput.large {
  height: 22px;
  width: 22px;
}
.myinput.large[type="checkbox"]:before {
  width: 20px;
  height: 20px;
}
.myinput.large[type="checkbox"]:after {
  top: -20px;
  width: 16px;
  height: 16px;
}
.checkboxlabel {
  width: 20px;
  height: 20px;
  font-size: 26px;
  font-family: "Josefin Sans", sans-serif;
}
.checkbox {
  width: 50px;
}
.count-box {
  position: fixed;
  top: 80vh;
  width: 15vw;
  z-index: 999;
  left: 70vw;
  border: 1px solid #808080;
  padding: 5px 20px;
  font-size: 20px;
  text-align: left;
  border-radius: 6px;
  margin-top: 10px;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}
@keyframes Slide_Up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide_from_right {
  0% {
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide_up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive Media Queries */
@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 600px) {
  .upform .upform-main .input-block .label {
    font-size: 18px;
  }
  .done-btn {
    display:none;
    top: 67vh !important;
    left: 27vw !important;
  }
  .count-box {
    width: 40vw !important;
    top: 75vh !important;
    left: 50vw !important;
    font-size: 12px !important;
    padding: 5px;
  }
  .prev-next {
    margin-top: -28px;
  }
  .checkboxlabel{
    font-size: 12px;
  }
  .upform .upform-main .input-block .input-control input[type="text"],
  input[type="number"],
  textarea {
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
  }
  .btn {
    border: 1px solid #808080;
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
    text-align: left;
    border-radius: 3px;
    margin-top: 10px;
    -webkit-transition: background 600ms ease, color 600ms ease;
    transition: background 600ms ease, color 600ms ease;
  }
  .btn-enter {
    padding: 15px 20px;
    padding-bottom: 0;
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .count-box {
    width: 50vw;
    top: 60vh;
    left: 15vw;
    font-size: 16px;
  }
  .upform .upform-main .input-block .label {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .count-box {
    width: 25vw;
    left: 60vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .count-box {
    width: 20vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
